<!-- <ion-modal-view> -->
  <!-- <ion-header-bar> -->

  <ion-view>
    <h1 class="title">Dependent Information</h1>
    <!-- <div class="buttons">
      <button class="button button-clear" ng-click="closeDependent()">Close</button>
    </div> -->
  <!-- </ion-header-bar> -->
  <ion-content>

      <div class="list-inset" >
        <label class="item item-input">
          <input type="text" placeholder="First Name*" ng-model="dependent.firstname">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Last Name*" ng-model="dependent.lastname">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Date of Birth (MM/DD/YYYY)*" ng-model="dependent.dateofbirth">
        </label>
      <!-- </div> -->
      <!-- <div class="list"> -->
        <label class="item item-input">
          <input type="text" placeholder="Current Medications" ng-model="dependent.medications">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Pre-existing Condition" ng-model="dependent.history">
        </label>



      </div>

        <!-- <div class="buttons">
          <button class="button button-clear" ng-click="map()">Find Pediatrician</button>
        </div> -->
<!-- <div>
        <p class="text-center">Add Primary Pediatrician*</p>
<div> -->
<div>
        <h5 class="text-center">Select A Primary Pediatrician*</h5>
<div>


<div id="mapdiv">
  <!-- <body> -->
    <!-- <ion-header-bar class="bar-dark" >
      <h1 class="title">Map</h1>
    </ion-header-bar> -->
    <!-- <ion-content> -->
    <div id="map" ng-controller="MapCtrl" data-tap-disabled="true"></div>
    <!-- </ion-content> -->
    <!-- <ion-footer-bar class="bar-dark">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
    </ion-footer-bar> -->
  <!-- </body> -->
</div>




        <!-- <label class="item">
          <button class="button button-block button-positive" type="submit">Save Dependent</button>
        </label> -->

        <div class="buttons" ng-controller="DependentsController as depsCtrl">
          <button class="button button-block button-positive" ng-click="newDependent(dependent)">{{depsCtrl.title}} Save Dependent</button>
        </div>


      </div>

  </ion-content>
<!-- </ion-modal-view> -->
</ion-view>
