<ion-view>
  <ion-content >
    <!-- <ion-list can-swipe="true" option-buttons="itemButtons" > -->

      <ion-item >
        Name here:
        {{singleDep.name}}
        {{singleUser.name}}
        {{singleDependent.name}}
        {{singleDependent._id}}
        {{dependent.name}}
        {{user.name}}
        {{singleDependent.name}}
        {{name}}
        {{dependent._id}}


        <!-- Name -->
      </ion-item>
      <ion-item>
        {{dependent.name}}
        {{singleDependent.name}}
        {{singleDependent._id}}
DOB here:
        <!-- DOB -->

      </ion-item>
      <ion-item>
        {{dependent.medications}}
        {{medications}}
        <!-- Meds -->

      </ion-item>
      <ion-item>
        {{dependent.history}}
        {{hisrory}}
        <!-- hx -->

      </ion-item>
      <ion-item>
        {{dependent.pediatrician}}
        <!-- pediatrician -->

      </ion-item>

    </ion-list>
    <div class="buttons">
      <button class="button button-block button-positive" type="submit" ng-click="gotoeditDependent(dependent._id)">Edit Dependent</button>
    </div>



    <form>
      <div class="list-inset">
        <label class="item item-input">
          <span class="input-label"></span>
          <input type="text"  value="{{singleDep.name}}">
          Form Value here: {{name}}
          {{singleDep.name}}
          {{singleUser.name}}
          {{singleDependent.name}}
          {{singleDependent._id}}
          {{dependent.name}}
          {{user.name}}
          {{singleDependents.name}}
          {{name}}
        </label>
      </div>
    </form>





  </ion-content>
</ion-view>
