<ion-view >
  <ion-content  >
    <ion-list can-swipe="true" option-buttons="itemButtons" >

      <ion-item>
        {{name}}
        <!-- Name -->
      </ion-item>
      <ion-item>
        {{dependent.dateofbirth}}
        <!-- DOB -->

      </ion-item>
      <ion-item>
        {{dependent.medications}}
        <!-- Meds -->

      </ion-item>
      <ion-item>
        {{dependent.history}}
        <!-- hx -->

      </ion-item>
      <ion-item>
        {{dependent.pediatrician}}
        <!-- pediatrician -->

      </ion-item>

    </ion-list>
    <div class="buttons">
      <button class="button button-block button-positive" type="submit" ng-click="gotoeditDependent(dependent._id)">Edit Dependent</button>
    </div>


  </ion-content>
</ion-view>
