<ion-view>
<ion-content>
  <form >
    <div class="list-inset">
      <label class="item item-input">
        <span class="input-label"></span>
        <input type="text" ng-model="dependent.firstname" value="{{dependent.firstname}}">
      </label>
      <label class="item item-input">
        <span class="input-label"></span>
        <input type="text" ng-model="dependent.lastname" value="{{dependent.lastname}}">
      </label>
      <label class="item item-input">
        <span class="input-label"></span>
        <input type="text" ng-model="dependent.dateofbirth" value="{{dependent.dateofbirth}}">
      </label>
      <label class="item item-input">
        <span class="input-label"></span>
        <input type="text" ng-model="dependent.medications" value="{{dependent.medications}}">
      </label>
      <label class="item item-input">
        <span class="input-label"></span>
        <input type="text" ng-model="dependent.history" value="{{dependent.history}}">
      </label>
      <label class="item item-input">
        <span class="input-label"></span>
        <input type="text" ng-model="dependent.pediatrician" value="{{dependent.pediatrician}}">
      </label>
        <button ng-click="editDependent(dependent)" class="button button-block button-positive">Save Dependent</button>

    </div>
  </form>

</ion-content>
</ion-view>
