<!-- new user form -->

<ion-view>

  <ion-content>
    <form ng-submit="addUser()">
      <div class="list-inset">
        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="user.firstname">
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="user.lastname">
        </label>
        <label class="item item-input">
          <span class="input-label">Phone</span>
          <input type="text" ng-model="user.phone">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="user.email">
        </label>
          <button ng-click="addUser(user)" class="button button-block button-positive" type="submit">Create User</button>

      </div>
    </form>

  </ion-content>
</ion-view>
