<ion-view >

<ion-content>
  <div class="list-inset">
    <ion-list>
      <ion-item>
        <!-- {{user.firstname}}  -->
        first name
      </ion-item>
      <ion-item>
        <!-- {{user.lastname}} -->
        last name
      </ion-item>
      <ion-item>
        <!-- {{user.phone}} -->
        Phone
      </ion-item>
      <ion-item>
        <!-- {{user.email}} -->
        email
      </ion-item>
    </ion-list>

<!-- add dependent to list with modal -->
  <div class="buttons">
    <button class="button button-outline button-block button-positive icon ion-person-add" ng-click="addDependent()">&nbsp&nbspAdd Dependent</button>
  </div>
  <!-- list of dependents -->
  <ion-list>
    <ion-item>
  <!-- <ion-item ng-repeat="dependent in dependents" href="#/app/dependents/{{dependent.id}}"> -->
    <!-- {{dependent.firstname}} {{dependent.lastname}}-->
    sample dependent
    </ion-item>
  </ion-list>

  <!-- save profile  -->
  <button class="button button-block button-positive" type="submit">Save Profile</button>
    </div>
  </ion-content>
</ion-view>
