
<!-- <ion-view view-title="Profile Information"> -->
<ion-view>

  <!-- <ion-header-bar>
    <h1 class="title">Profile Information</h1> -->
    <!-- <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div> -->
  <!-- </ion-header-bar> -->

  <!-- <div class="bar bar-header">
  <button class="button button-clear button-positive">Edit</button>
</div> -->


<ion-content>

  <div class="list">
    <ion-list can-swipe="true" option-buttons="itemButtons">

      <ion-item>
        <ion-option-button class="button-dark" ng-click="gotoeditUser(user._id)">Edit</ion-option-button>
        <!-- {{singleUser.firstname}} -->
        {{singleUser.name}}

      </ion-item>
      <ion-item>
        <!-- <ion-option-button class="button-dark" ng-click="gotoeditUser(user._id)">Edit</ion-option-button> -->
        {{singleUser.phone}}
      </ion-item>
      <ion-item>
        <!-- <ion-option-button class="button-dark" ng-click="gotoeditUser(user._id)">Edit</ion-option-button> -->
        {{singleUser.email}}
        <!-- <ion-option-button class="button-dark" ng-click="gotoeditUser(user._id)">Edit</ion-option-button> -->
      </ion-item>
    </ion-list>

<!-- add dependent to list with modal -->
  <div class="buttons">
    <!-- <button class="button button-outline button-block button-positive icon ion-person-add" ng-click="addDependent()">&nbsp&nbspAdd Dependent</button> -->
    <a href="#/app/addDependent" style="text-decoration: none"><button class="button button-outline button-block button-positive icon ion-person-add" type="">&nbsp&nbspAdd Dependent</button></a>

  </div>



  <!-- list of dependents -->

      <ion-list can-swipe="true" option-buttons="itemButtons" >
        <ion-item    href="#/app/dependents/{{dependent.id}}">
          dependent: {{dependent.name}}
          <ion-option-button class="button-dark" ng-click="gotoeditDependent(dependent._id)">Edit</ion-option-button>
        </ion-item>
      </ion-list>

<!-- - -->

  <div class="buttons">
    <a href="#/app/map" style="text-decoration: none"><button class="button button-outline button-block button-positive icon ion-medkit" type="">&nbsp&nbspAdd Pharmacy</button></a>
  </div>

  <ion-list can-swipe="true" option-buttons="itemButtons">
    <ion-item>
<!-- <ion-item ng-repeat="dependent in dependents" href="#/app/dependents/{{dependent.id}}"> -->
  <!-- {{dependent.firstname}} {{dependent.lastname}}-->
    sample pharmacy
    <ion-option-button class="button-assertive" ng-click="deletePharmacy(pharmacy)">Delete</ion-option-button>
    </ion-item>
  </ion-list>



  <!-- save profile  -->
  <!-- <button class="button button-block button-positive" type="submit">Save Profile</button> -->

  <div class="buttons">
    <a href="#/app/home" style="text-decoration: none"><button class="button button-block button-positive" type="submit" ng-click="addUserProfile()">Save Profile</button></a>
  </div>


    </div>
  </ion-content>
</ion-view>
