
<!-- <ion-view view-title="Schedule Appointment"> -->
<ion-view>

  <ion-content>

    <h5>This Appointment is for:</h5>

<!-- <div>
    <form>
        <ion-item ng-repeat="dependent in dependentsArr" >
          <ion-checkbox ng-model="appointment.name" for="{{dependent.name}}" ng-value="name" id="{{dependent.name}}" name="name">{{dependent.name}}</ion-checkbox>
        </ion-item>
    </form>
</div> -->



  <!-- <form>
    <ion-list>
      <ion-item ng-repeat="dependent in dependentsArr">
        <ion-checkbox ng-model="appointment.name" value="{{dependent.name}}">{{dependentsArr[0].name}}</ion-checkbox>
      </ion-item> -->
    <!-- </ion-list>
  </form> -->
    <!-- Original -->


    <!-- <ion-list ng-repeat="dependent in dependentsArr">



    </ion-list> -->
    <!-- <div class="row">
      <div class="col"> -->
      <div class="name">
        <ion-list ng-repeat="dependent in dependentsArr" >
          <ion-checkbox ng-model="appointment.name" ng-click="clickedDependent(dependent.name)" >
            {{dependent.name}}
          </ion-checkbox>
        </ion-list>
      </div>
      <!-- </div>
    </div> -->

    <h5>The primary reason for this visit is:</h5>
    <div class="row">
      <div class="col">
        <ion-list>
          <ion-checkbox ng-model="appointment.fever" ng-true-value="'YES'" ng-false-value="'NO'">Fever</ion-checkbox>
          <!-- <ion-checkbox ng-model="appointment.fever">Fever</ion-checkbox> -->
        </ion-list>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ion-list>
          <ion-checkbox ng-model="appointment.cough" ng-true-value="'YES'" ng-false-value="'NO'">Cough</ion-checkbox>
          <!-- <ion-checkbox ng-model="appointment.cough">Cough</ion-checkbox> -->
        </ion-list>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ion-list>
          <ion-checkbox ng-model="appointment.nausea" ng-true-value="'YES'" ng-false-value="'NO'">Nausea</ion-checkbox>
          <!-- <ion-checkbox ng-model="appointment.nausea">Nausea</ion-checkbox> -->
        </ion-list>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <ion-list>
            <ion-checkbox ng-model="appointment.sorethroat" ng-true-value="'YES'" ng-false-value="'NO'">Sore Throat</ion-checkbox>
            <!-- <ion-checkbox ng-model="appointment.sorethroat">Sore Throat</ion-checkbox> -->
          </ion-list>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ion-list>
          <ion-checkbox ng-model="appointment.rash" ng-true-value="'YES'" ng-false-value="'NO'">Rash</ion-checkbox>
        </ion-list>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ion-list>
          <ion-checkbox ng-model="appointment.diarrhea" ng-true-value="'YES'" ng-false-value="'NO'">Diarrhea</ion-checkbox>
          <!-- <ion-checkbox ng-model="appointment.diarrhea">Diarrhea</ion-checkbox> -->
        </ion-list>
      </div>
    </div>
    <label class="item item-input">
      <input type="text" placeholder="Other" ng-model="appointment.otherSymptoms">
    </label>

    <h5>Appointment Date & Time Request:</h5>
<div style="text-align: center; margin-bottom: 10px; font-size: 1.2em">
    <ionic-datepicker input-obj="datepickerObjectPopup" date="" disablepreviousdates="" callback="datePickerCallbackPopup">
      <button class="button button-block button-positive">Click Here To Select Date</button>
    </ionic-datepicker>
</div>

      <ion-list>
        <ion-item id="datePicked" ng-model="appointment.date" >
          {{datepickerObjectPopup.inputDate | date:'MMMM dd, yyyy'}}
        </ion-item>
      <ion-list>

      <!-- <label class="item item-input" id="datePicked" ng-model="appointment.date" > -->
        <!-- <span class="input-label" style="align-items: center"></span> -->


      <!-- <input id="datePicked" type="text" style="" ng-controller="AppointmentsController" ng-model="appointment.date"> -->
      <!-- {{datepickerObjectPopup.inputDate | date:'MMMM dd, yyyy'}} -->
      <!-- {{val | date:'MMMM dd, yyyy'}}
      {{$scope.val}}
      {{val}}
      {{pickerVal}} -->
      <!-- This is a Test -->
      <!-- </input> -->
    <!-- </label> -->

    <!-- </ionic-datepicker>
</div> -->
    <!-- How do we capture this date?
    {{ data.choosenDate = currentDate; }} declare this on the view and it is available on the controller on $scope.data. -->

    <ul class="list">
      <li class="item item-toggle">
         First Available
         <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="appointment.firstAvailable" ng-true-value="'YES'" ng-false-value="'NO'">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Morning
         <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="appointment.morning" ng-true-value="'YES'" ng-false-value="'NO'">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Afternoon
         <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="appointment.afternoon" ng-true-value="'YES'" ng-false-value="'NO'">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
    </ul>

    <h5>Additional Comments:</h5>

    <label class="item item-input">
      <input type="text" placeholder="Comments" ng-model="appointment.comments">
    </label>


    <div class="buttons">
      <button class="button button-block button-positive" type="" ng-click="newAppointment(appointment)">Schedule Appointment</button></a>
    </div>

  </ion-content>
</ion-view>
