
<!-- <ion-view view-title="Confirmation History"> -->
<ion-view>

  <ion-content>
    <ion-view>
    <ion-content>
      <div class="list-inset">

        <ion-list>
            <h5>Appointment Request:</h5>
              <ion-item>
              <!-- {{dependent.symptoms[0]}} ", " {{dependent.symptoms[1]}} etc.   -->
              </ion-item>
          </ion-list>

          <h5>Patient:</h5>
            <ion-item>
              <!-- {{dependent.firstname}} ", " {{dependent.lastname}} -->
              dependent first, last name
            </ion-item>
            <!-- <ion-item> -->
              <!-- {{dependent.dateofbirth}} -->
              <!-- date of birth
            </ion-item> -->
        </ion-list>

        <ion-list>
            <h5>Symptoms:</h5>
              <ion-item>
              <!-- {{dependent.symptoms[0]}} ", " {{dependent.symptoms[1]}} etc.   -->
              example: fever
              </ion-item>
          </ion-list>

        <ion-list>
            <h5>Pediatrician:</h5>
              <ion-item>
                <!-- {{pediatrician.name}} -->
                pediatrician name
              </ion-item>
              <ion-item>
                <!-- {{pediatrician.phone}} ", {{pediatrician.email}}" -->
                phone, email
              </ion-item>
              <div class="list">
                <a class="item item-icon-right" href="#/app/map">
                  <i class="icon ion-ios-location"></i>
                  address
                  <!-- {{pediatrician.address}} -->
                </a>
              </div>
        </ion-list>
      <ion-list>


    <!-- add dependent to list with modal -->

      <div class="buttons">
        <button class="button button-block button-positive icon ion-calendar" type="submit" ng-click="addToCalendar()">&nbsp&nbspAdd to Calendar</button></a>
      </div>


        </div>
      </ion-content>
    </ion-view>
  </ion-content>
</ion-view>
