
<!-- <ion-view view-title="Confirmation History"> -->
<!-- <ion-view>

  <ion-content> -->
    <ion-view >
    <ion-content >
      <div  class="list-inset">
        <ion-list >
            <h5><span style="color: red">Pending </span>Appointment For:</h5>
              <ion-item >
                {{dependentsArr[0].name}}
              </ion-item>
          </ion-list>


        <ion-list >
            <h5>Date:</h5>
              <ion-item>
                <!-- Date Here -->
                {{datepickerObjectPopup.inputDate | date:'MMMM dd, yyyy'}}
                <!-- {{val}} -->
                <!-- {{$scope.pickerVal}} -->
                <!-- {{pickerVal}}
                {{inputDate}} -->
              </ion-item>
        </ion-list>

                  <h5>Time Requested:</h5>
                    <div class="row">
                      <div class="col">
                        <ion-item>
                          <!-- First Available: {{apptArr[0].firstAvailable}} -->
                          First Available: {{apptToDisplay.firstAvailable}}
                        </ion-item>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <ion-item>
                          Morning: {{apptToDisplay.morning}}
                        </ion-item>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <ion-item>
                          Afternoon: {{apptToDisplay.afternoon}}
                        </ion-item>
                      </div>
                    </div>
                </ion-list>

        <!-- <ion-list>
          <h5>Reason:</h5>
            <ion-item>
              {{appt[0].fever}}
              {{appt[0].cough}}
              {{appt[0].nausea}}
              {{apptArr[0].sorethroat}}
              {{apptArr[0].rash}}
              {{apptArr[0].diarrhea}}<br>
              {{apptToDisplay[0].otherSymptoms}}
              {{apptToDisplay[0].comments}}
            </ion-item>
        </ion-list> -->

        <h5>Reason:</h5>
          <div class="row">
            <div class="col">
              <ion-item >
                Fever: {{apptToDisplay.fever}}
              </ion-item>
            </div>
            <div class="col">
              <ion-item>
                Cough: {{apptToDisplay.cough}}
              </ion-item>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <ion-item>
                Nausea: {{apptToDisplay.nausea}}
              </ion-item>
            </div>
            <div class="col">
              <ion-item>
                Sore Throat: {{apptToDisplay.sorethroat}}
              </ion-item>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <ion-item>
                Rash: {{apptToDisplay.rash}}
              </ion-item>
            </div>
            <div class="col">
              <ion-item>
                Diarrhea: {{apptToDisplay.diarrhea}}
              </ion-item>
            </div>
          </div>


          <ion-list >
              <h5>Additional Information:</h5>
                <ion-item>
                  {{apptToDisplay.otherSymptoms}}
                </ion-item>
                <ion-item>
                  {{apptToDisplay.comments}}
                </ion-item>
          </ion-list>


        <ion-list >
            <h5>Pediatrician:</h5>
              <ion-item class="item item-icon-right">
                <i class="icon ion-medkit"></i>
                {{pharmacyArr[0].name}}
              </ion-item>
                <!-- <a class="item item-icon-right" href="#/app/map">
                  <i class="icon ion-ios-location"></i>
                  {{pharmacyArr[0].address}}
                  address
                </a> -->
              <ion-item class="item item-icon-right">
                  <i class="icon ion-ios-location"></i>
                    {{pharmacyArr[0].address}}
              </ion-item>
              <ion-item class="item item-icon-right">
                <i class="icon ion-ios-telephone"></i>
                {{pharmacyArr[0].phone}}<br>
              </ion-item>
        </ion-list>
      <!-- <ion-list> -->


    <!-- add dependent to list with modal -->

      <div class="buttons">
        <button class="button button-block button-positive icon ion-calendar" type="submit" ng-click="addToCalendar()">&nbsp&nbspAdd to Calendar</button></a>
      </div>


        </div>
      </ion-content>
    </ion-view>
  <!-- </ion-content>
</ion-view> -->
