
<!-- <ion-view view-title="Confirmation History"> -->
<!-- <ion-view>

  <ion-content> -->
    <ion-view>
    <ion-content>
      <div class="list-inset">

        <ion-list>
            <h5>Appointment Confirmation For:</h5>
          </ion-list>
          <ion-item>
            {{dependent.name}}
            dependent first, last name
          </ion-item>
          <h5>Date & Time:</h5>
            <ion-item>
            <!-- {{dependent.symptoms[0]}} ", " {{dependent.symptoms[1]}} etc.   -->
            </ion-item>
        </ion-list>

        <ion-list>
          <h5>Reason:</h5>
          <div class="row">
            <div class="col">
              <ion-item>
                Fever: {{appointment.fever}}
              </ion-item>
            </div>
            <div class="col">
              <ion-item>
                Cough: {{appointment.cough}}
              </ion-item>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <ion-item>
                Nausea: {{appointment.nausea}}
              </ion-item>
            </div>
            <div class="col">
              <ion-item>
                Sore Throat: {{appointment.sorethroat}}
              </ion-item>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <ion-item>
                Rash: {{appointment.rash}}
              </ion-item>
            </div>
            <div class="col">
              <ion-item>
                Diarrhea: {{appointment.diarrhea}}
              </ion-item>
            </div>
          </div>
        </ion-list>


        <ion-list >
            <h5>Pediatrician:</h5>
              <ion-item class="item item-icon-right">
                <i class="icon ion-medkit"></i>

                <!-- {{pediatrician.name}} -->
                pediatrician office
              </ion-item>
              <!-- <div class="list"> -->
                <a class="item item-icon-right" href="#/app/map">
                  <i class="icon ion-ios-location"></i>
                  address
                  <!-- {{pediatrician.address}} -->
                </a>
              <!-- </div> -->
              <ion-item class="item item-icon-right">
                <i class="icon ion-ios-telephone"></i>

                <!-- {{pediatrician.phone}} " -->
                phone
              </ion-item>
        </ion-list>
      <!-- <ion-list> -->


    <!-- add dependent to list with modal -->

      <div class="buttons">
        <button class="button button-block button-positive icon ion-calendar" type="submit" ng-click="addToCalendar()">&nbsp&nbspAdd to Calendar</button></a>
      </div>


        </div>
      </ion-content>
    </ion-view>
  <!-- </ion-content>
</ion-view> -->
