<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Forgot Password</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeReset()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doReset()">
      <div class="list">
        <label class="item item-input icon ion-at">
          <input type="text" placeholder="&nbsp&nbsp&nbsp&nbsp Email" style="text-align: center" ng-model="loginData.email">
          <!-- <span class="input-label">Email Address</span>
          <input type="text" ng-model="loginData.email"> -->
          &nbsp&nbsp&nbsp&nbsp
        </label>
        <!-- <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label> -->
        <label class="item">
          <!-- <a href="#/auth/login" style="text-decoration: none"><button class="button button-block button-positive" type="">Send Password to Email</button> -->
          <button class="button button-block button-positive" type="" ng-click="sendReset()">Send Password to Email</button>

        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
