
<!-- <ion-view view-title="Schedule Appointment"> -->
<ion-view>

  <ion-content>

    <h5>This Appointment is for:</h5>
    <ion-list>
      <ion-checkbox ng-model="filter.bobby">Bobby Parker</ion-checkbox>
      <!-- {{dependent.firstname}} ", " {{dependent.lastname}} -->
      <ion-checkbox ng-model="filter.beth">Beth Parker</ion-checkbox>
    </ion-list>

    <h5>The primary reason for this visit is:</h5>
    <div class="row">
      <div class="col">
        <ion-list>
          <ion-checkbox ng-model="filter.fever">Fever</ion-checkbox>
        </ion-list>
      </div>
      <div class="col">
        <ion-list>
          <ion-checkbox ng-model="filter.cough">Cough</ion-checkbox>
        </ion-list>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ion-list>
          <ion-checkbox ng-model="filter.nausea">Nausea</ion-checkbox>
        </ion-list>
      </div>
      <div class="col">
          <ion-list>
            <ion-checkbox ng-model="filter.sorethroat">Sore Throat</ion-checkbox>
          </ion-list>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ion-list>
          <ion-checkbox ng-model="filter.rash">Rash</ion-checkbox>
        </ion-list>
      </div>
      <div class="col">
        <ion-list>
          <ion-checkbox ng-model="filter.diahrreah">Diarrhea</ion-checkbox>
        </ion-list>
      </div>
    </div>
    <label class="item item-input">
      <input type="text" placeholder="Other" ng-model="dependent.medications">
    </label>

    <h5>Appointment Date & Time Request:</h5>
<div ng-controller="AppCtrl">
    <ionic-datepicker input-obj="datepickerObjectPopup" idate="currentDate" disablepreviousdates="true">
      <button class="button button-block button-positive"> {{ currentDate | date:'dd - MMMM - yyyy' }} </button>
    </ionic-datepicker>
</div>

    <!-- How do we capture this date?
    {{ data.choosenDate = currentDate; }} declare this on the view and it is available on the controller on $scope.data. -->

    <ul class="list">

      <li class="item item-toggle">
         First Available
         <label class="toggle toggle-balanced">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Morning
         <label class="toggle toggle-balanced">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Afternoon
         <label class="toggle toggle-balanced">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
    </ul>

    <div class="buttons">
      <a href="#/app/confirmation" style="text-decoration: none"><button class="button button-block button-positive" type="submit" ng-click="addUserProfile()">Schedule Appointment</button></a>
    </div>

  </ion-content>
</ion-view>
