<!-- <ion-view view-title="Contact Us"> -->
<ion-view>

  <ion-content style="text-align: center">
    <!-- <h2>PediaAppointment</h2> -->

    <div class="subheader">
      <div class="item item-text-wrap">
        Developed By:<br>
      </div>
    </div>
    <div class="header">
      <div class="card">
        <h4>Lindsay Williams</h4>
          <div class="row">
            <div class="col">
              <a class="item item-icon-left" href="https://github.com/williamsl25"><i class="fa fa-github fa-2x "></i> Github </a>
            </div>
            <div class="col">
              <a class="item item-icon-left" href="mailto:williamsl25@yahoo.com"><i class="fa fa-envelope-o fa-2x"></i> Email</a>
            </div>
            <div class="col">
              <a class="item item-icon-left" href="tel:16164058551"><i class="fa fa-mobile fa-2x"></i> Phone</a>
            </div>
          </div>
      </div>
    </div>
    <div class="header">
      <div class="card">
        <h4>Dustin Guthrie</h4>
          <div class="row">
            <div class="col">
              <a class="item item-icon-left" href="https://github.com/DustinGuthrie"><i class="fa fa-github fa-2x "></i> Github </a>
            </div>
            <div class="col">
              <a class="item item-icon-left" href="mailto:"><i class="fa fa-envelope-o fa-2x"></i> Email</a>
            </div>
            <div class="col">
              <a class="item item-icon-left" href="tel:"><i class="fa fa-mobile fa-2x"></i> Phone </a>
            </div>
          </div>
      </div>
    </div>

    </div>
      <div class="item item-text-wrap contact_footer">
        <h2>An Iron Yard Project</h2>
        17 A Princess Street<br>
        Charleston, SC 29401<br>
        (843)-501-2775<br>
        Charleston@theironyard.com
      </div>


  </ion-content>
</ion-view>
