<!-- <ion-view view-title="Contact Us"> -->
<ion-view>

  <ion-content style="text-align: center">
    <!-- <h2>PediaAppointment</h2> -->

    <div class="card">
      <div class="item item-text-wrap">
        Developed By:<br>
        Dustin Guthrie & Lindsay Williams<br><br>
      </div>
    </div>

    <div class="row">
      <div class="card">
        <h4 class="title">Lindsay Williams</h4>
        <div class="item item-text-wrap">
          <a class="item item-icon-left" href="https://github.com/williamsl25"><i class="fa fa-github "></i> Github<p>https://github.com/williamsl25</p></a><br>
          <a class="item item-icon-left" href="mailto:williamsl25@yahoo.com"><i class="ion-android-drafts"></i>  Email<p>williamsl25@yahoo.com</p></a><br>
          <a class="item item-icon-left" ><i class="ion-android-call"></i>  Phone <p>(616) 405-8551</p></a><br>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card">
        <h4 class="title">Dustin Guthrie</h4>
        <div class="item item-text-wrap">
          <a class="item item-icon-left" href="https://github.com/DustinGuthrie"><i class="fa fa-github "></i> Github<p>https://github.com/DustinGuthrie</p></a><br>
          <a class="item item-icon-left" href="mailto:guthrie.dustin@gmail.com"><i class="ion-android-drafts"></i>  Email<p>guthrie.dustin@gmail.com</p></a><br>
          <a class="item item-icon-left" ><i class="ion-android-call"></i>  Phone <p>(843) 697-7757</p></a><br>
        </div>
      </div>
    </div>

    <div class="row">
    </div>
      <div class="item item-text-wrap">
        <h2>An Iron Yard Project</h2>
        17 A Princess Street<br>
        Charleston, SC 29401<br>
        (843)-501-2775<br>
        Charleston@theironyard.com
      </div>


  </ion-content>
</ion-view>
