<!-- <ion-view view-title="Contact Us"> -->
<ion-view>

  <ion-content style="text-align: center">
    <!-- <h2>PediaAppointment</h2> -->
    <h5>An Iron Yard Project<br><br>

      Developed By:<br>
      Dustin Guthrie & Lindsay Williams<br><br>

      View their profile on GitHub:<br>
      <a href="https://github.com/DustinGuthrie">Dustin Guthrie</a><br>
      <a href="https://github.com/williamsl25">Lindsay Williams</a><br><br>

      17 A Princess Street<br>
      Charleston, SC 29401<br>
      (843)-501-2775<br>
      Charleston@theironyard.com
    </h5>

  </ion-content>
</ion-view>
