<!-- <ion-view view-title="PediaAppointment"> -->

<ion-nav-bar class="bar-light"></ion-nav-bar>
<ion-view>
  <ion-nav-title>
    <img src="img/splash.png">
  </ion-nav-title>
  <!-- <ion-content> -->

    <!-- <ion-header-bar>
      <h1 class="title">Login</h1> -->
      <!-- <div class="buttons">
        <button class="button button-clear" ng-click="closeLogin()">Close</button>
      </div> -->
    <!-- </ion-header-bar> -->
    <!-- <h1 class="title">Login</h1> -->

    <ion-content>
      <!-- <ion-subheader-bar>
        <h1 class="title">Login</h1>
      </ion-subheader-bar> -->

      <form ng-submit="doLogin()">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" ng-model="loginData.username">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="loginData.password">
          </label>
          <label class="item">
            <button class="button button-block button-positive" type="submit">Log in</button>
            <p class="text-center">
                <button class="button button-clear" ng-click="reset()">Forgot Password</button>
              <!-- <a href="#/forgot-password" ng-click="reset()">Forgot password</a> -->
            </p>

          </label>
          <label class="item">
            <a href="#/templates/newuser" style="text-decoration: none"><button class="button button-block button-positive" type="">New User</button></a>
          </label>

        </div>
      </form>

    </ion-content>




  <!-- </ion-content> -->
</ion-view>
