<ion-nav-bar class="bar-light">
  <ion-nav-view name="loginHome"></ion-nav-view>
</ion-nav-bar>



<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          Playlists
        </ion-item>

<!-- New Routes that will be added to the Menu -->
        <ion-item menu-close href="#/app/home">
          Home
        </ion-item>
        <ion-item menu-close href="#/app/userprofile">
          Profile Information
        </ion-item>
        <ion-item menu-close href="#/app/appointment">
          Schedule Appointment
        </ion-item>
        <ion-item menu-close href="#/app/confirmation">
          View Appointments
        </ion-item>
        <ion-item menu-close href="#/app/contact">
          Contact Us
        </ion-item>
        <ion-item menu-close href="#/app/logout">
          Logout
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
