<ion-view view-title="Profile Information">
  <ion-header-bar>
    <h1 class="title">Profile Information</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content>
    <form ng-submit="addProfile()">
      <div class="list-inset">
        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="user.firstname">
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="user.lastname">
        </label>
        <label class="item item-input">
          <span class="input-label">Phone</span>
          <input type="text" ng-model="user.phone">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="user.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Dependent</span>
          <input type="text" ng-model="user.dependent">
          <a class="button button-clear button-positive icon-left ion-arrow-down-b "></a>
          <button class="button button-outline button-positive icon ion-person-add"></button>
        </label>
        <label class="item">
          <button class="button button-block button-assertive" type="submit">Save Profile</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
